@font-face {
    font-family: 'Android';
    src: url('IDroid.otf') format(Opentype);
}

@font-face {
    font-family: 'Tech';
    src: url('Bebas-Regular.otf') format(Opentype);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: black;
  }

header{
    position: relative;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    display: inline;
    align-items: center;
    padding: 30px 0;
    text-align: center;
    font-size: 19px;
    font-family: Arial;
    text-transform: uppercase;
    position: fixed;
    overflow: hidden;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: solid white 1px;

}

nav a{
    text-decoration: none;
    color: #fff;
    padding: 30px 15px;
    margin: 0 auto;
    
}

nav a:hover{
    transition: 0.5s;
    background-color: rgba(78, 224, 224, 0.753);
    color: black;
    
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    o-background-size: cover;

}

section.module.parallax-1{
    background-image: url(imagem/4884273.jpg);
}

section.module.parallax h1{
    color: white;
    text-align: center;
    font-size: 70px;
    z-index: 50;
    text-transform: uppercase;
    font-family: android;
}

main{
    display: block;
    background-color: white;
    position: relative;
}


.container-rodape{
    background-color: #000;
    text-align: right;
    margin: 0 auto;
    padding: 20px auto;
    z-index: 100;
    position: absolute;
    width: 100%;
    align-items: center;   
    
}

.foto-android{
    height: 350px;
    width: 350px;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: relative;
}

.rodape > h4{
    color: gray;
    font-family: serif;
    padding: 15px 25px;
    align-items: center;
    float: right;
    
}

.rodape > a >img{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 30px 15px;
    float: left;
    
    
